<style>
  ion-content{
  --ion-background-color : #ffddb0 ;
}
</style>

<ion-content color="medium" padding>
  <form #form="ngForm">
    <ion-grid>
      <ion-row color="light" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item color="light">
              <ion-input color="dark" name="nomor_meja" type="number"  placeholder="Nomor Meja. Contoh : 7" (input)="getNomorMeja($event)" required></ion-input>
            </ion-item>
            <ion-item color="light">
              <ion-input color ="dark" name="username" type="text" placeholder="username" (input)="getUsername($event)" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color ="success" size="large" type="submit" (click)="login()" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        
          <a style="text-align:center;" routerLink="/home">Kembali ke halaman menu</a>
        
    </ion-row>
    </ion-grid>
  </form>
</ion-content>
