<style>
div{
  font-family: 'Montserrat';
  font-size: 16px;
}
ion-input{
  font-family: 'Montserrat';
  font-size: 16px;
}
ion-text{
  font-family: 'Montserrat';
  font-size: 16px;
}

ion-content{
  --ion-background-color : #ffddb0;
}
ion-header{
  --ion-background-color : #cd853f ;
}
ion-title{
font-family: 'Montserrat’;
}
</style>

<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" (click)="closeModal()" style="width:25px; height:25px;float:left;"></ion-icon><ion-title>Keranjang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isContain">
  <ion-item-sliding *ngFor="let item of cart; let i = index">
    <ion-item (click)="menuModal(item.idmenu)">
        <ion-label>
          <ion-text>
              <b>{{item.nama_menu}} x {{item.jumlahOrder}} </b>
          </ion-text>
          <ion-text style="float:right;text-align: right">
           <b *ngIf="is_diskon(item.jenis); else elseShow"> Rp. <s>{{hitungSubTotal(item.jumlahOrder,item.hargaSatuan)}}</s> {{hitungSubTotalSetelahDiskon(item.jumlahOrder, item.hargaSatuan)}}</b>
           <ng-template #elseShow><b>Rp. {{hitungSubTotal(item.jumlahOrder,item.hargaSatuan)}}</b></ng-template> <br/>
           <b>{{item.permintaan_khusus}}</b>
          </ion-text>
          <ion-text style="float:right;text-align: right">
            
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item-options start="RTL"><ion-button color="danger" (click)="removeOrder(i)">Delete</ion-button></ion-item-options>
  </ion-item-sliding>
  
</ion-content>
<ion-content>
    <ion-item>
        <ion-label text-wrap style="font-size:20px;font-family: 'Montserrat';"><b>Total</b></ion-label>
        <ion-label style="float:right; text-align:right; font-size:24px;font-family: 'Montserrat';" ><b> Rp. {{hitungTotal()}}</b></ion-label>
    </ion-item>
    <ion-button color="success" style="max-width: 100%; width:95%; height: 30px; margin:10px; border-radius:4px" (click)="order()">Pesan</ion-button>
</ion-content>


