<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
ion-header{
  --ion-background-color : #cd853f;
}
ion-content{
  --ion-background-color : #ffddb0;
  font-family: 'Montserrat';
  font-size: 16px;
}
ion-item{
  --ion-background-color : #ffddb0;
  font-family: 'Montserrat';
  font-size: 16px;

}
ion-label{
  font-family: 'Montserrat';
  font-size: 16px;
}
ion-label{
  font-family: 'Montserrat';
  font-size: 16px;
}
</style>

<ion-header>
  <ion-toolbar>
      <ion-icon name="arrow-round-back" (click)="closeModal()" style="width:25px; height:25px;float:left;"></ion-icon><ion-title style="font-family: 'Montserrat'">Informasi Riwayat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>&emsp;Nomor Meja : {{nomor_meja}}</p>
  <p>&emsp;Nomor Nota : {{nomor_nota}}</p>
  <p>&emsp;Tanggal Transaksi : {{tanggal_transaksi}}</p>
  <ion-item *ngFor="let menu of daftarOrder">
    <ion-col style="width:200px;"><ion-label style="font-family: 'Montserrat';">{{menu.nama_menu}} </ion-label></ion-col>
    <ion-col style="margin:auto;"><ion-label style="font-family: 'Montserrat';  width:25px;">x {{menu.quantity}}</ion-label></ion-col>
    <ion-col style="float:right;"><ion-label *ngIf="menu.harga_sebelum_diskon == menu.harga_sesudah_diskon; else elseShow">{{menu.harga_sesudah_diskon}}</ion-label><ng-template #elseShow><s>{{menu.harga_sebelum_diskon}}</s>&nbsp;{{menu.harga_sesudah_diskon}}</ng-template></ion-col>
    
  </ion-item>
  <ion-item>
      <ion-label text-wrap style="font-size:20px;font-family: 'Montserrat';"><b>Total</b></ion-label>
      <ion-label style="float:right; text-align:right; font-size:24px;font-family: 'Montserrat';" ><b> Rp. {{countTotal(pesananDetail)}}</b></ion-label>
  </ion-item>
</ion-content>
