<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<style>
ion-header{
  --ion-background-color : #cd853f;
}
ion-content{
  --ion-background-color : #ffddb0;
}
ion-item{
  --ion-background-color : #ffddb0;
  font-family: 'Montserrat';
  font-size: 16px;
}
div{
  font-family: 'Montserrat';
  font-size: 16px;
}
ion-title{
  font-family: 'Montserrat';
}
ion-label{
  font-family: 'Montserrat';
  font-size: 16px;
}
</style>

<ion-header>
  <ion-toolbar>
      <ion-icon name="arrow-round-back" (click)="closeModal()" style="width:25px; height:25px;float:left;"></ion-icon><ion-title>Pesanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="riwayat" checked>
      <ion-label>Selesai</ion-label>
    </ion-segment-button>
    <ion-segment-button value="proses">
      <ion-label>Sedang proses <b><ion-text *ngIf="totalPesananYangSedangDisiapkan > 0">({{totalPesananYangSedangDisiapkan}})</ion-text></b></ion-label>
      
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-card style="font-family: 'Montserrat'; font-size: 16px; border-style:solid; border-width: 1px;padding:5px;" *ngFor="let item of display" (click)="historyDetail(item.nomor_nota)">
      <b><ion-label>No. Meja  </ion-label></b><ion-label>:  </ion-label><ion-label style="margin:5px;">{{item.nomor_meja}}</ion-label><br>
      <b><ion-label>No. Nota  </ion-label></b><ion-label>:  </ion-label><ion-label style="margin:5px;">{{item.nomor_nota}}</ion-label><br>
      <b><ion-label>Tanggal Transaksi  </ion-label></b><ion-label>:  </ion-label><ion-label style="margin:5px;">{{transformDate(item.tanggal_transaksi)}}</ion-label><br>
      <b><ion-label>Status </ion-label></b><ion-label>:  </ion-label><ion-label style="margin:5px;" >{{item.status}}</ion-label><br>
    </ion-card>
  </ion-list>
</ion-content>
