<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
ion-content{
  --ion-background-color : #ffddb0;
}
ion-item{
  --ion-background-color : #cd853f ;
}
div{
  font-family: 'Montserrat';
  font-size: 16px;
}
ion-label{
  font-family: 'Montserrat';
  font-size: 16px;
}
ion-input{
  font-family: 'Montserrat';
  font-size: 16px;
}
</style>


<ion-app>
<ion-item class="menu-modal" >
    <ion-header>
      <!--<ion-toolbar>
        <ion-icon md="md-arrow-round-back" (click)="closeModal()" style="width:25px; height:25px;float:left;"></ion-icon><ion-title style="float:left;">{{namaMenu}}
          <ion-badge *ngIf="isLogin()" class="cart" color="dark">{{totalItemInCart}}</ion-badge>
          <ion-icon style="line-height: 20px;" class="cart" md="md-restaurant" style="width:45px;height:45px;float:right" *ngIf="isLogin()" (click)="openCart()"></ion-icon>
        </ion-title>
      </ion-toolbar>!-->
      <ion-toolbar>
        <ion-icon slot="start" md="md-arrow-round-back" (click)="closeModal()" style="width:25px; height:25px;line-height:-52px;"></ion-icon>
    
        <ion-title  style="font-family:'Montserrat';">
          <ion-text style="line-height: 52px;">{{namaMenu}}</ion-text>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list lines="none">
      <ion-col class="col" col-6="">
      
      </ion-col>
    </ion-list>
  </ion-item>

  <ion-content>
    <img class="center" src="{{url_asset}}{{namaMenu}}.{{extension}}" width="400" height="400">
    <ion-grid>
      <ion-row>
        <ion-col size="5.6" style="text-align: left;">
          <div>
            Keterangan : 
          </div>
        </ion-col>
        <ion-col size="6" style="text-align: left;">
          <div style="font-size:16px; font-style:italic;">
            {{keteranganMenu}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5.6" style="text-align: left;">
          <div>
            Harga : 
          </div>
        </ion-col>
        <ion-col size="6" style="text-align: left;">
          <div>
            Rp. {{hargaSatuan}},-
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isLogin()" >
        <ion-col size="5.6" style="text-align: left;">
          <div>
            Jumlah : 
          </div>
        </ion-col>
        <ion-col size="6"  style="text-align: left;">
          <div stlye="text-align:center;">
          	<ion-button color="success" style="width:40px;height:40px;"  (click)="removeOrder()"><ion-icon md="md-remove"></ion-icon></ion-button>&nbsp; &nbsp;
          	<ion-text style="display:inline-block;"> <b> {{getCurrentJumlahOrderDiCart()}} </b></ion-text>&nbsp; &nbsp;
            <ion-button color="success" style="width:40px;height:40px;" (click)="addOrder()" ><ion-icon md="md-add"></ion-icon></ion-button>
              
            
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngIf="isLogin()" size="5.6" style="text-align: left; font-size: 24px;">
          <div>
            Total : 
          </div>
        </ion-col>
        <ion-col *ngIf="isLogin()" size="6"  style="text-align: left; font-size: 24px;">
          <div>
           Rp. {{getTotal()}},-
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isLogin()">
        <ion-col *ngIf="isLogin()" size="5.6" style="text-align: left; font-size: 24px;">
          <div>
              Permintaan khusus :
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isLogin()">
        <ion-input *ngIf="isPesananSudahAdaDiKeranjang()==true" (input)="getPermintaanKhusus($event)" [value]="getCurrentPermintaanKhususDariCart()" placeholder="Contoh : tidak pakai sayur" maxlength="50"></ion-input>
        <ion-input *ngIf="isPesananSudahAdaDiKeranjang()==false" (input)="getPermintaanKhusus($event)" [(ngModel)]="autofill_referensi" placeholder="Contoh : tidak pakai sayur" maxlength="50"></ion-input>
      </ion-row>
      <ion-row *ngIf="isLogin()">
        <ion-button color="success" name="buttonKeranjang" style="left:10%;width:100%;" *ngIf="isPesananSudahAdaDiKeranjang()==false" (click)="addToCart()">Tambahkan ke keranjang</ion-button>     
        <ion-button color="success" name="buttonKeranjang" style="left:10%;width:100%;" *ngIf="isPesananSudahAdaDiKeranjang()==true" (click)="addToCart()">Ubah ke keranjang</ion-button>   
      </ion-row>
    </ion-grid>
  </ion-content>
  
</ion-app>

  