.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

img{
  width:150px;
  height:150px;
}

.menu-card {
  
  float: left;
  width: 44%;
  padding: 0px;
}

.search-bar{
    height: 30px;
    width:100%;
}
.menu-center{
  display:inline-block;   
}

::-webkit-input-placeholder {
  text-align: center;
  
}

ion-title{
  clear: both;
}

.cart{
  float:right;
}

#notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}

.kategori {
  width:100%;
  max-width:100%;
}

