<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
ion-content{
  --ion-background-color : #ffddb0;
}
ion-header{
  --ion-background-color : #cd853f ;
}

h4,h5{
  font-family:'Montserrat';
}
</style>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-family:'Montserrat';">
      <ion-text style="line-height: 52px;">Daftar Menu</ion-text>
      <ion-badge *ngIf="isLogin()" class="cart" color="dark">{{totalItemInCart}}</ion-badge>
      <ion-icon style="line-height: 20px;" class="cart" md="md-restaurant" style="width:45px;height:45px;" *ngIf="isLogin()" (click)="openCart()">
      </ion-icon>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     
    <ion-list lines="none">
      <ion-col class="col" col-6="">
        <ion-item>
          <input type="text" class="search-bar" style="font-family: 'Montserrat'; text-align: center; background-color:#ffddb0;" placeholder="cari menu" (input)="getValue($event)">
      </ion-item>
        <ion-item>
          <!-- <ion-label style="text-align:center;">Kategori Menu</ion-label> -->
          <ion-select class="kategori" style="text-align:center; border:1px solid black; font-family:'Montserrat'" placeholder="Kategori Menu" (ionChange)="getMenuByCategory($event)">
            <ion-select-option class="kategori" selected >Semua Menu</ion-select-option>
            <ion-select-option class="kategori" *ngFor="let kategori of daftarKategori" [value]="kategori.idkategori">{{kategori.nama_kategori}}</ion-select-option>
          </ion-select>
        </ion-item>    
        <!-- 
        <ion-item>
          <ion-button class="kategori" (click)="getAllMenu()">All</ion-button>
          <ion-button class="kategori">Favorite</ion-button>
          <ion-button class="kategori" *ngFor="let kategori of daftarKategori" (click)="getMenuByCategory(kategori.idkategori)">{{kategori.nama_kategori}}</ion-button>
            
        </ion-item>
      -->
        <div class="menu-center">
        <ion-card [attr.disabled]="isStockKosong(menu.stock)" class="menu-card" *ngFor="let menu of daftarMenu" (click)="menuModal(menu.idmenu)">
          <img src="{{this.url_asset}}{{menu.nama_menu}}.{{menu.ext}}">
          <ion-item>
            <ion-label>
              <h4>{{menu.nama_menu}}</h4>
              <h5>Rp. {{menu.harga}},-</h5>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
      </ion-col>
    </ion-list>
</ion-content>

